/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
.bangers {
  font-family: 'Bangers', cursive;
}

/*COLORS*/
$base-light: rgb(106, 132, 172);

/*MAIN*/
html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  }
